<form (ngSubmit)="addLink()" #addLinkForm="ngForm">
        <h2 mat-dialog-title>添加连接</h2>
        <mat-dialog-content>          
          <div style="width: 70%;margin:20px;">
                <span>标题</span>
                <input type="text" name="title" required class="form-control" [(ngModel)]="info.title" placeholder="Title">
          </div>
          <div style="width: 70%;margin:20px;">
                <span>链接</span>
                <input type="text" name="link" required class="form-control" [(ngModel)]="info.link" placeholder="link">
          </div>              
        </mat-dialog-content>
        <mat-dialog-actions>
          <button type="submit" color="primary" mat-raised-button >确定</button>
          <button type="button" color="warn" mat-raised-button (click)="cancel()">取消</button>
        </mat-dialog-actions>
      </form>