

<mat-toolbar style="background:#444">
    <div style="right: 0px;
    position: absolute;
    font-size: 15px;" class="toolBar">
        <a style="margin-right:10px;" *ngIf="_AuthService.getCurrentUserInfo().role == 'admin'" [routerLink]="['/main/blogManage']">管理社区</a>
        <a style="margin-right:10px;" [routerLink]="['/main']">首页</a>
        <a style="margin-right:10px;" [routerLink]="['/main/createArt']">发表文章</a>
        <a style="margin-right:10px;" [routerLink]="['/main/user',_AuthService.getCurrentUserInfo().userName]">个人设置</a>
        <a style="margin-right:10px;position:relative;cursor:pointer"  [matMenuTriggerFor]="menu">
                <i class="fa fa-circle" aria-hidden="true" style="color: red;
                font-size: 10px;
                right: 0px;
                position: absolute;
                top: -4px;" *ngIf="userInfo.message.length > 0"></i>
            <i class="fa fa-bell-o" aria-hidden="true"></i>
        </a>
        <mat-menu #menu="matMenu">
            <ul>
                <li  *ngFor="let message of userInfo.message">
                    <span class="message-list"  matTooltip="{{message.content}}" >
                            系统通知@   <a  (click)="deleteMessage(message._id)" [routerLink]="['/main/topic',+ message.topciId]">{{message.content}}</a>
                    </span>                     
                </li>
                <li *ngIf="userInfo.message.length == 0">
                    <span class="message-list"   >
                            没有新消息
                    </span>  

                </li>
            </ul>
            
        </mat-menu>
        <a style="margin-right:10px;" [routerLink]="['/login']">登出</a>
    </div>       
</mat-toolbar>




<div style="height:94%;overflow:auto;background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);">
    <app-advertising></app-advertising>
    <router-outlet></router-outlet>
</div>