<form (ngSubmit)="register()" #loginForm="ngForm">
  <h2 mat-dialog-title>注册</h2>
  <mat-dialog-content>
    
      <mat-form-field>
        <input type="text" name="userName" required matInput [(ngModel)]="registerInfo.userName" placeholder="用户名">
      </mat-form-field>
      
      <mat-form-field>
        <input type="password" name="password" required matInput [(ngModel)]="registerInfo.password" placeholder="密码">
      </mat-form-field>
      
      <mat-form-field>
        <input type="text" name="email" required matInput [(ngModel)]="registerInfo.email" placeholder="邮箱地址">
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-button >注册</button>
    <button type="button" mat-button (click)="cancel()">取消</button>
  </mat-dialog-actions>
</form>