<div style="height: 100%;
width: 800px;
margin: 0 auto;
background-color: #fff;">
<div class="filter-toole" style="padding: 15px 15px;border-bottom:1px solid #f0f0f0;">
    <div  style="margin-bottom:0.5em">
        <div style="    width: 100%;
        float: left;margin-bottom: 10px;">   
            <span style="float: left;
            line-height: 36px;
            margin-right: 15px;">热门标签:</span>
            <span class="chip" *ngFor="let hotLabel of hotLabels;let i = index" (click)="toggleLabel(hotLabel)">
                    {{hotLabel.name}}
                    <i class="fa fa-check" aria-hidden="true" *ngIf="hotLabel.isSelected"></i>
            </span> 
        </div>
    </div> 
    <span [ngClass]="{active : parameter.sortField == 'lastReplyTime'}">
            <a  style="margin-right: 10px;font-size: 16px;" href="" [routerLink]="['/main/list']"  [queryParams]="{sortField:'lastReplyTime',sortWay:-1}" [queryParamsHandling]="'merge'">按最新回复</a>
    </span>
    <span [ngClass]="{active : parameter.sortField == 'creatDate'}">
        <a   style="margin-right: 10px;font-size: 16px;" href="" [routerLink]="['/main/list']"  [queryParams]="{sortField:'creatDate',sortWay:-1}" [queryParamsHandling]="'merge'">最新发布</a>
    </span>
    <span [ngClass]="{active : parameter.sortField == 'replyNum'}">
        <a    style="margin-right: 10px;font-size: 16px;" href="" [routerLink]="['/main/list']"  [queryParams]="{sortField:'replyNum',sortWay:-1}" [queryParamsHandling]="'merge'">按回复数</a>
    </span>
    <span [ngClass]="{active : parameter.sortField == 'viewed'}"  >
        <a  style="margin-right: 10px;font-size: 16px;" href="" [routerLink]="['/main/list']"  [queryParams]="{sortField:'viewed',sortWay:-1}" [queryParamsHandling]="'merge'">按热度</a>
    </span>                
</div>
  <mat-list style="overflow: auto;
  height: calc(100% - 213px);
  background-color: #fff;">
      <mat-list-item *ngFor="let row of rows">
        <h3 matLine> 
          <a routerLink="{{'../topic/' + row._id}}">{{row.title}}</a>     
        </h3>
        <p matLine> 作者:
          <a [routerLink]="['/main/user',row.author]">{{row.author}}</a>
           发布日期:{{row.creatDate}}</p>
        <p matLine>
          <span>所属标签:</span>
          <a *ngFor="let label of row.label" style="margin-right:5px;" [routerLink]="['/main/list']"  [queryParams]="{labels:label}" [queryParamsHandling]="'merge'">{{label}}</a>
        </p>
        <p matLine class="demo-2"> 浏览次数:{{row.viewed}} </p>
      </mat-list-item>
    </mat-list>
    <pagination [boundaryLinks]="true" [totalItems]="this.parameter.totalElement" [(ngModel)]="this.parameter.currentPage"
    class="pagination-sm"
    [maxSize]="5"
    [itemsPerPage]="10"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>    
</div>


