<div style=" height: 100%;
overflow: auto;">
<div style="background: #f6f6f6;
height: 50px;
line-height: 50px;
padding-left: 15px;
width: 87%;
margin:0 auto;
padding-right: 15px;">
  <span>
    <a [routerLink]="['/main']">主页</a>
    / 编辑话题</span>    
</div>
<div style="background: #fff;
padding-left: 15px;padding-bottom: 100px;
width: 87%;padding-top:15px;
margin:0 auto;
padding-right: 15px;">
  <form (ngSubmit)="editArticle()" #editArticleForm="ngForm">
    <h2 >编辑文章</h2>
    <div>
        <div>
            <span>选择标签</span>
            <app-label-input [chips]="artInfo.label" (addLabel)="addLabel($event)"></app-label-input>    
          </div>  
        <div style="width:80%;margin-bottom:20px;">
          <span>标题</span>
            <input type="text" name="userName" required class="form-control" [(ngModel)]="artInfo.title" placeholder="标题 字数10以上">          
        </div>        
        <div style="width:100%">
          <app-edit-toolbar             
            [artInfo]="artInfo"
          >
          </app-edit-toolbar >  
        </div>      
    </div>
    <mat-dialog-actions>
      <button type="submit" mat-button >提交</button>    
    </mat-dialog-actions>
  </form>
</div>

</div>
