<div style=" height: 100%;
overflow: auto;">

<div style="background: #f6f6f6;

height: 50px;
line-height: 50px;
padding-left: 15px;
width: 87%;
margin:0 auto;
padding-right: 15px;">
  <span>
    <a [routerLink]="['/main']">主页</a>
    / 发布话题</span>    
</div>
<div style="background: #fff;
padding-left: 15px;padding-bottom: 100px;
width: 87%;padding-top:15px;
margin:0 auto;
padding-right: 15px;">
  <form (ngSubmit)="createArticle()" #createArticleForm="ngForm">
    <h2 >发表文章</h2>
    <div>
        <div>
          <span>选择标签</span>
          <app-label-input [chips]="chips" (addLabel)="addLabel($event)"></app-label-input>    
        </div>        
        <mat-form-field style="width:100%">
          <input type="text" name="userName" required matInput [(ngModel)]="artInfo.title" placeholder="标题 字数10以上">
        </mat-form-field>
        
        <div style="width:100%">
            <app-edit-toolbar 
            [artInfo]="artInfo"
            >
            </app-edit-toolbar >   
        </div>        
    </div>
    <mat-dialog-actions>
      <button type="submit" mat-button >提交</button>    
    </mat-dialog-actions>
  </form>
</div>

</div>
